@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

:root {
  --dark: #373a36;
  --primary: #d48166;
  --primary-rgba: rgba(212, 129, 102, 0);
  --light: #e6e2dd;
  --light-rgba: rgb(230, 226, 221);
  --font-size: 16px;
  --chip-color-1: #f5ab99;
  --chip-color-2: #feb47b;
  --chip-color-3: #6cbf84;
  --chip-color-4: #f26968;
  --chip-color-5: #91b3bc;
  --chip-color-6: #d79abc;
}

html {
  overflow-x: hidden;
}

body {
  background-color: var(--light);
  font-size: var(--font-size);
  overflow: hidden;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

.bg-dark {
  background-color: var(--dark);
}

header {
  background: var(--light);
}

header .bg {
  z-index: 1;
  background: var(--primary);
  padding: 10px;
}

header .bg h2 {
  color: var(--light);
  font-family: "Dancing Script", cursive;
  border: 2px solid var(--light);
  border-radius: 50%;
  display: inline-block;
  padding: 5px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 1.8em;
}

header .bg h2 a {
  text-decoration: none;
  color: var(--light);
  cursor: pointer;
}

.popup {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 100;
  -webkit-transform: translateY(300px);
          transform: translateY(300px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup .man {
  width: 150px;
  -webkit-transform: scaleX(-1) rotate(40deg) translateX(calc(-130px + 10vw)) translateY(50px);
          transform: scaleX(-1) rotate(40deg) translateX(calc(-130px + 10vw)) translateY(50px);
}

@media (min-width: 700px) {
  .popup .man {
    width: 200px;
    -webkit-transform: scaleX(-1) rotate(40deg) translateX(calc(-150px + 10vw)) translateY(50px);
            transform: scaleX(-1) rotate(40deg) translateX(calc(-150px + 10vw)) translateY(50px);
  }
}

section {
  line-height: 1.5em;
  z-index: 2;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--primary)), to(var(--light)));
  background: linear-gradient(var(--primary), var(--light));
}

section .blob {
  width: 30%;
  position: absolute;
  z-index: 3;
  opacity: 0.2;
}

section .blob-1 {
  top: 0;
  right: 4%;
  -webkit-animation: float1 60s infinite linear;
          animation: float1 60s infinite linear;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

section .blob-2 {
  top: 50%;
  left: 20%;
  -webkit-animation: float2 60s ease infinite;
          animation: float2 60s ease infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

section .blob-3 {
  top: 30%;
  left: 40%;
  -webkit-animation: float3 60s ease-out infinite;
          animation: float3 60s ease-out infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

section .blob-4 {
  bottom: 0;
  right: 20%;
  -webkit-animation: float4 60s ease-in-out infinite;
          animation: float4 60s ease-in-out infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

section .blob-5 {
  top: 20%;
  right: 70%;
  -webkit-animation: float5 60s ease infinite;
          animation: float5 60s ease infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes float1 {
  0%,
  100% {
    top: 0%;
    right: 4%;
  }
  25% {
    top: 16%;
    right: 26%;
  }
  50% {
    top: 10%;
    right: 70%;
  }
  75% {
    top: 60%;
    right: 50%;
  }
}

@keyframes float1 {
  0%,
  100% {
    top: 0%;
    right: 4%;
  }
  25% {
    top: 16%;
    right: 26%;
  }
  50% {
    top: 10%;
    right: 70%;
  }
  75% {
    top: 60%;
    right: 50%;
  }
}

@-webkit-keyframes float2 {
  0%,
  100% {
    top: 50%;
    left: 20%;
  }
  25% {
    top: 30%;
    left: 10%;
  }
  50% {
    top: 83%;
    left: 70%;
  }
  75% {
    top: 12%;
    left: 32%;
  }
}

@keyframes float2 {
  0%,
  100% {
    top: 50%;
    left: 20%;
  }
  25% {
    top: 30%;
    left: 10%;
  }
  50% {
    top: 83%;
    left: 70%;
  }
  75% {
    top: 12%;
    left: 32%;
  }
}

@-webkit-keyframes float3 {
  0%,
  100% {
    top: 30%;
    left: 40%;
  }
  25% {
    top: 10%;
    left: 10%;
  }
  50% {
    top: 0%;
    left: 70%;
  }
  75% {
    top: 56%;
    left: 82%;
  }
}

@keyframes float3 {
  0%,
  100% {
    top: 30%;
    left: 40%;
  }
  25% {
    top: 10%;
    left: 10%;
  }
  50% {
    top: 0%;
    left: 70%;
  }
  75% {
    top: 56%;
    left: 82%;
  }
}

@-webkit-keyframes float4 {
  0%,
  100% {
    bottom: 0;
    right: 20%;
  }
  25% {
    bottom: 10%;
    right: 70%;
  }
  50% {
    bottom: 30%;
    right: 20%;
  }
  75% {
    bottom: 70%;
    right: 30%;
  }
}

@keyframes float4 {
  0%,
  100% {
    bottom: 0;
    right: 20%;
  }
  25% {
    bottom: 10%;
    right: 70%;
  }
  50% {
    bottom: 30%;
    right: 20%;
  }
  75% {
    bottom: 70%;
    right: 30%;
  }
}

@-webkit-keyframes float5 {
  0%,
  100% {
    top: 20%;
    right: 70%;
  }
  25% {
    top: 57%;
    right: 0%;
  }
  50% {
    top: 40%;
    right: 40%;
  }
  75% {
    top: 10%;
    right: 20%;
  }
}

@keyframes float5 {
  0%,
  100% {
    top: 20%;
    right: 70%;
  }
  25% {
    top: 57%;
    right: 0%;
  }
  50% {
    top: 40%;
    right: 40%;
  }
  75% {
    top: 10%;
    right: 20%;
  }
}

section .hero {
  padding: 50px;
  height: calc(50vh + 50px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 4;
}

section .hero .main-header {
  max-width: 500px;
}

@media (min-width: 600px) {
  section .hero .main-header {
    margin-left: 50px;
  }
}

section .hero .main-header h1 {
  font-weight: 900;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 2em;
  text-align: left;
  line-height: 1.1em;
  text-shadow: 5px 5px white;
}

@media (min-width: 600px) {
  section .hero .main-header h1 {
    font-size: calc(2em + 25%);
  }
}

section .hero .main-header p {
  margin-bottom: 30px;
  width: calc(100vw - 100px);
  text-align: left;
  font-size: 1.1em;
  font-weight: 600;
}

section .hero .main-header a {
  display: inline-block;
  text-decoration: none;
  padding: 20px;
  border-radius: 10px;
  background: var(--primary);
  color: var(--light);
  font-size: 1.3em;
  margin-bottom: 10px;
  font-weight: 600;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  -webkit-box-shadow: 0 0 7px -5px rgba(0, 0, 0, 0.75);
          box-shadow: 0 0 7px -5px rgba(0, 0, 0, 0.75);
}

section .hero .main-header a::before, section .hero .main-header a::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: calc(100% + 15px);
  height: 100%;
  background-color: var(--primary);
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  opacity: 0;
  border-radius: 10px;
}

section .hero .main-header a:hover {
  background: var(--light);
  color: var(--primary);
  --primary-rgba: rgba(212, 129, 102, 1);
}

section .hero .main-header a:hover::after {
  opacity: 0.75;
  -webkit-transform: translate(-50%, -50%) rotate(20deg);
          transform: translate(-50%, -50%) rotate(20deg);
}

section .hero .main-header a:hover::before {
  opacity: 0.75;
  -webkit-transform: translate(-50%, -50%) rotate(30deg);
          transform: translate(-50%, -50%) rotate(30deg);
}

section .wave {
  width: 90vw;
}

.fixed-contact-nav {
  background: var(--primary);
  max-width: 300px;
  position: fixed;
  z-index: 100;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 40px;
  -webkit-box-shadow: 0 4px 7px -4px rgba(0, 0, 0, 0.75);
          box-shadow: 0 4px 7px -4px rgba(0, 0, 0, 0.75);
}

.fixed-contact-nav .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fixed-contact-nav .actions a {
  text-decoration: none;
  color: var(--dark);
  font-size: 2em;
  font-weight: 600;
  padding: 10px;
  border-radius: 50px;
  cursor: pointer;
  width: 250px;
  text-align: center;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.fixed-contact-nav .actions a:hover {
  background: var(--dark);
  color: var(--primary);
}

.fixed-contact-nav .actions a:hover::after {
  opacity: 1;
}

@media (min-width: 600px) {
  .fixed-contact-nav {
    bottom: 5vh;
  }
  .fixed-contact-nav .actions a {
    font-size: 2.5em;
  }
}

.portfolio {
  background: var(--dark);
  padding-bottom: 100px;
  color: var(--light);
}

.portfolio > h1 {
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 50px auto;
  padding-bottom: 5px;
  border-bottom: 2px solid var(--light);
  font-size: 3em;
}

.portfolio .projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: var(--dark);
}

.portfolio .projects .project {
  min-width: 350px;
  max-width: 500px;
  min-height: 600px;
  background: var(--dark);
  border-radius: 20px;
  padding: 10px;
  margin: 40px;
}

.portfolio .projects .project .cover {
  overflow: hidden;
  margin-bottom: 50px;
  border-radius: 10px;
}

.portfolio .projects .project .cover img {
  max-width: 100%;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.portfolio .projects .project .cover .bg-gradiant {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), to(var(--dark)));
  background: linear-gradient(transparent 50%, var(--dark));
  position: absolute;
  bottom: 0;
}

.portfolio .projects .project .cover .links {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio .projects .project .cover .links a {
  color: var(--dark);
  font-size: 3em;
  margin: 20px;
  opacity: 0;
  -webkit-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in;
}

.portfolio .projects .project .cover .links a:hover {
  color: black;
}

.portfolio .projects .project .info {
  color: var(--light);
  padding: 20px;
  position: initial;
}

.portfolio .projects .project .info h3 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 2px solid var(--light);
  font-size: 1.8em;
}

.portfolio .projects .project .info p {
  line-height: 1.3em;
  margin-bottom: 20px;
}

.portfolio .projects .project .info p a {
  text-decoration: none;
  color: #feb47b;
}

.portfolio .projects .project .info .tags {
  justify-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  bottom: 20px;
}

.portfolio .projects .project .info .tags .chip {
  padding: 7px;
  border-radius: 20px;
  margin: 5px 5px 5px 0;
  color: var(--dark);
  font-weight: 600;
}

.portfolio .projects .project .info .tags .chip-color-1 {
  background: var(--chip-color-1);
}

.portfolio .projects .project .info .tags .chip-color-2 {
  background: var(--chip-color-2);
}

.portfolio .projects .project .info .tags .chip-color-3 {
  background: var(--chip-color-3);
}

.portfolio .projects .project .info .tags .chip-color-4 {
  background: var(--chip-color-4);
}

.portfolio .projects .project .info .tags .chip-color-5 {
  background: var(--chip-color-5);
}

.portfolio .projects .project .info .tags .chip-color-6 {
  background: var(--chip-color-6);
}

.portfolio .projects .project:hover .cover img, .portfolio .projects .project:active .cover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.portfolio .projects .project:hover .cover .links a, .portfolio .projects .project:active .cover .links a {
  opacity: 1;
}

.portfolio .projects .neon-1 {
  border: 2px solid var(--chip-color-4);
  -webkit-box-shadow: 0 0 7px 2px var(--chip-color-4);
          box-shadow: 0 0 7px 2px var(--chip-color-4);
}

.portfolio .projects .neon-2 {
  border: 2px solid var(--chip-color-5);
  -webkit-box-shadow: 0 0 7px 2px var(--chip-color-5);
          box-shadow: 0 0 7px 2px var(--chip-color-5);
}

.portfolio .projects .neon-3 {
  border: 2px solid var(--chip-color-1);
  -webkit-box-shadow: 0 0 7px 2px var(--chip-color-1);
          box-shadow: 0 0 7px 2px var(--chip-color-1);
}

.portfolio .projects .neon-3 .cover .links a {
  color: var(--light);
}

.portfolio .projects .neon-4 {
  border: 2px solid var(--chip-color-3);
  -webkit-box-shadow: 0 0 7px 2px var(--chip-color-3);
          box-shadow: 0 0 7px 2px var(--chip-color-3);
}

.portfolio .projects .neon-4 .cover .links a {
  color: var(--light);
}

.portfolio .projects .neon-5 {
  border: 2px solid var(--chip-color-2);
  -webkit-box-shadow: 0 0 7px 2px var(--chip-color-2);
          box-shadow: 0 0 7px 2px var(--chip-color-2);
}

.portfolio .projects .neon-5 .cover .links a {
  color: var(--light);
}

.portfolio .projects .neon-6 {
  border: 2px solid var(--chip-color-6);
  -webkit-box-shadow: 0 0 7px 2px var(--chip-color-6);
          box-shadow: 0 0 7px 2px var(--chip-color-6);
}

.about {
  background-color: transparent;
  height: 100vh;
  text-align: center;
}

@media (max-height: 600px) {
  .about {
    margin-bottom: 20em;
  }
}

.about .cover {
  width: 200px;
  height: 200px;
  margin: 0 auto 50px auto;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid var(--dark);
  -webkit-box-shadow: 0 2px 7px -3px rgba(0, 0, 0, 0.75);
          box-shadow: 0 2px 7px -3px rgba(0, 0, 0, 0.75);
}

.about .cover img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.about .cover .overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5em;
  font-weight: 600;
  color: var(--dark);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--primary);
  -webkit-transition: -webkit-transform 200ms ease-in;
  transition: -webkit-transform 200ms ease-in;
  transition: transform 200ms ease-in;
  transition: transform 200ms ease-in, -webkit-transform 200ms ease-in;
}

.about .cover:hover .overlay {
  -webkit-transform: translateY(-200px);
          transform: translateY(-200px);
}

.about .info-me {
  max-width: 500px;
  margin: 0 auto;
  color: var(--dark);
  font-size: 1.2em;
  font-weight: 600;
  padding: 20px;
  line-height: 1.5em;
}

.about .info-me .keypoint {
  color: var(--primary);
}

.about .bg-title {
  font-size: 25vw;
  color: white;
  opacity: 0.25;
  -webkit-transform: rotate(7deg);
          transform: rotate(7deg);
  position: absolute;
  z-index: -1;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact form {
  overflow-y: hidden;
  width: 100%;
  background-color: var(--dark);
  margin-top: -15px;
  z-index: 3;
  color: var(--light);
  padding: 40px 20px 150px 20px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 800px) {
  .contact form {
    width: 70%;
  }
}

@media (min-width: 1200px) {
  .contact form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-bottom: 100px;
  }
}

.contact form .form-container {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
}

.contact form .form-container h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: 2px solid var(--light);
  padding-bottom: 5px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.contact form .form-container .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px 0;
}

.contact form .form-container .inputs .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
  padding: 10px;
}

.contact form .form-container .inputs .input span {
  margin-bottom: 5px;
  font-size: 1.1em;
}

.contact form .form-container .inputs .input input {
  border: none;
  outline-width: 0;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.1em;
  background-color: rgba(82, 82, 82, 0.5);
  color: var(--light);
}

.contact form .form-container .inputs .input textarea {
  border: none;
  resize: none;
  outline-width: 0;
  background-color: var(--dark);
  padding: 10px;
  border-radius: 10px;
  font-size: 1.1em;
  background-color: rgba(82, 82, 82, 0.5);
  color: var(--light);
}

.contact form .form-container .inputs .input textarea:focus-within {
  background-color: #525252;
}

.contact form .form-container .inputs .input input:focus-within {
  background-color: #525252;
}

.contact form .form-container .inputs .input-switch {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 12em;
}

.contact form .form-container .inputs .input-switch span {
  margin-right: 20px;
}

.contact form .form-container .inputs .input-switch .switch {
  width: 40px;
  height: 20px;
  background-color: var(--light);
  border-radius: 50px;
}

.contact form .form-container .inputs .input-switch .switch #checkbox {
  cursor: pointer;
  opacity: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  z-index: 1;
  width: 20px;
  height: 20px;
  border: 0;
  outline-width: 0;
}

.contact form .form-container .inputs .input-switch .switch #checkbox:checked ~ .circle {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.contact form .form-container .inputs .input-switch .switch .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--primary);
  -webkit-transform: translateX(0);
          transform: translateX(0);
  cursor: pointer;
  -webkit-transition: -webkit-transform 100ms cubic-bezier(0.78, 0.05, 0.1, 1.8);
  transition: -webkit-transform 100ms cubic-bezier(0.78, 0.05, 0.1, 1.8);
  transition: transform 100ms cubic-bezier(0.78, 0.05, 0.1, 1.8);
  transition: transform 100ms cubic-bezier(0.78, 0.05, 0.1, 1.8), -webkit-transform 100ms cubic-bezier(0.78, 0.05, 0.1, 1.8);
}

.contact form .form-container .inputs .input-switch .switch .circle:focus-within {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.contact form .form-container .btn {
  cursor: pointer;
  background-color: var(--primary);
  color: var(--dark);
  font-size: 1.3em;
  margin-left: 20px;
  padding: 15px;
  display: inline-block;
  border-radius: 50px;
  font-weight: 600;
  -webkit-box-shadow: 0 0 7px -5px rgba(0, 0, 0, 0.75);
          box-shadow: 0 0 7px -5px rgba(0, 0, 0, 0.75);
  -webkit-transition: -webkit-transform 100ms ease-out;
  transition: -webkit-transform 100ms ease-out;
  transition: transform 100ms ease-out;
  transition: transform 100ms ease-out, -webkit-transform 100ms ease-out;
}

.contact form .form-container .btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.contact form .or-divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0 40px 0;
  font-size: 1.3em;
}

.contact form .or-divider::after, .contact form .or-divider::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #525252;
  margin: 0 20px;
}

@media (min-width: 1200px) {
  .contact form .or-divider {
    display: none;
  }
}

.contact form .social-links {
  background: rgba(82, 82, 82, 0.25);
  margin: 0 -20px;
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 1200px) {
  .contact form .social-links {
    width: 30%;
    margin-top: -40px;
    margin-left: 20px;
    border-top-right-radius: 30px;
    height: calc(100% + 190px);
  }
}

.contact form .social-links .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact form .social-links .socials .social {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0;
  cursor: pointer;
}

.contact form .social-links .socials .social:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  color: black;
}

.contact form .social-links .socials .social:hover a {
  opacity: 1;
  color: black;
}

.contact form .social-links .socials .social a {
  opacity: 0.75;
  text-decoration: none;
  color: var(--light);
  margin-left: 10px;
}
/*# sourceMappingURL=main.css.map */